.apply__container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 10.07142857em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .apply__container {
    justify-content: space-between;
  }
}