.story {
  width: 1140px;
  max-width: 100%;
  min-height: calc(100vh - 74px);
  margin: 0 auto;
  padding: 5em 0 4em;
}

/* Main content */
.story .story__content > .story__title {
  max-width: 768px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 4.25em;
}

.story .story__content > .story__author {
  display: block;
  text-align: center;
  margin: 1em auto 3em;
  font-family: "Muli", sans-serif;
}

.story .story__content > .story__hero {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}

/* Category */

.story .story__content .story__category {
  padding: 1em;
}

.story .story__content .story__category > a {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #7DE2E7;
  color: white;
  border-radius: 1em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

/* Appreciation section */
.story .story__content .story__appreciate {
  padding: 1em;
}

/* More stories */
.story .story__more > h2 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(150,150,150);
}