.user__section {
  padding: 2em 0;
  position: relative;
}

.user__section > div > div > h2 {
  margin-top: 0;
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: 400;
}

.user__section > div > div > h5 {
  margin-top: 0;
}

.user__section > div > div:not(:first-child) {
  margin-top: 2em;
}

/* Sections */
.user__section.personal__section,
.user__section.education__section,
.user__section.settings__section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user__section.personal__section > div,
.user__section.education__section > div,
.user__section.settings__section > div {
  padding: 2em 0;
  flex: 0 1 500px;
}

.user__section.personal__section > div > div,
.user__section.education__section > div > div,
.user__section.settings__section > div > div {
  padding: 2em;
  border: 1px solid rgba(26, 25, 25, 0.15);
  border-radius: 3px;
}

.user__section .user__not_student,
.user__section .user__no_accomplishments,
.user__section .user__no_features {
  text-align: center;
  min-width: 100%;
}

.user__no_accomplishments,
.user__no_features {
  margin-top: 5em;
}

.user__not_student > h4,
.user__no_accomplishments > h4,
.user__no_features > h4 {
  text-transform: uppercase;
}

.user__section.education__section>div:not([class="user__not_student"]),
.user__section.personal__section > div {
  padding: 5em 0 2em;
}

/* Profile picture section */
.user__section.profile_picture__section > p {
  text-align: center;
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: bold;
}

.user__section.profile_picture__section .user__profile_picture_container {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.user__section.profile_picture__section .user__profile_picture_container > img {
  width: 100%;
}

/* Accomplishments section */
.user__section.accomplishments__section .accomplishments__section_content {
  padding-top: 40px;
}

/* Features section */
.user__section.features__section .features__section_content {
  padding-top: 40px;
}

/* Settings section */
.user__section.settings__section .settings__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user__section.settings__section .settings__item > span > p {
  display: inline-block;
  margin-right: 1em;
}

.user__section.settings__section .settings__edit_role,
.user__section.settings__section .settings__add_role {
  cursor: pointer;
  text-decoration: underline;
  color: #53D1D7;
  font-weight: bold;
}