.create_user__container > header > span {
  display: block;
  max-width: 600px;
  font-size: 0.85em;
  color: rgba(51,51,51,0.85);
}

.create_user__container .create_user__section:not(:last-child) {
  margin-bottom: 4em;
}

.create_user__container .create_user__section .flex_container > span {
  min-width: 300px;
  flex: 1 0 33%;
  padding: 0.5em;
}

.create_user__container .create_user__section > .radio_list > li {
  display: inline-block;
}

.create_user__container .create_user__section input {
  margin-bottom: 0;
}

.create_user__container .create_user__section .create_user__input_label {
  margin: 0 0 2em;
  font-weight: 400;
  font-size: 0.85em;
}