.form.drop__uploader {
  width: 100%;
  background-color: #FFD889;
  padding: 2em 1.525em;
  margin-top: 2em;
  position: relative;
}

.drop__uploader_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.65);
}

.form.drop__uploader .drop__area {
  background-color: #FFD889;
  padding: 3em 0;
  border: 4px dashed #FFCB61;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-width 200ms linear;
  color: #FFB318;
  position: relative;
}

.form.drop__uploader .drop__area.item__enter {
  border-width: 8px;
}

.form.drop__uploader .drop__area > svg {
  font-size: 4em;
}

.form.drop__uploader .drop__area>input[type="file"] {
  max-width: 0;
  max-height: 0;
}

.form.drop__uploader .drop__area>label {
  margin: 1.5625em 0;
  font-size: 1.45em;
  color: #222;
  font-family: "Muli",
  "Nunito",
  "Roboto",
  sans-serif
}

.form.drop__uploader.disabled {
  background-color: rgba(51, 51, 51, 0.15);
}

.form.drop__uploader fieldset:disabled .drop__area {
  background-color: rgba(51,51,51,0.15);
  border: 4px dashed rgba(51, 51, 51, 0.25);
  cursor: auto;
}

.form.drop__uploader fieldset:disabled .drop__area > svg {
  color: rgba(51, 51, 51, 0.25);
}