.student_dashboard__settings {
  width: 856px;
  max-width: 100%;
  margin: 32px auto 0;
  padding: 0 2em;
}

.student_dashboard .student_dashboard__settings {
  padding-top: 2em;
}

.student_dashboard__settings > p {
  margin-bottom: 32px;
}

.student_dashboard__settings > p:first-of-type {
  margin-bottom: 64px;
}

.student_dashboard__settings .flex_container {
  margin-bottom: 32px;
}

.student_dashboard__settings .flex_container > span > h6 {
  text-transform: none;
}

.student_dashboard__settings .settings__unlink_password {
  cursor: pointer;;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2em;
}

/* Change emaul modal */
.modal__settings_change_email .modal__content > form > p {
  font-size: 14px;
  margin-bottom: 3em;
}

.modal__settings_change_email .modal__content > form .flex_container {
  margin: 0 0 2.5em;
}

.modal__settings_change_email .modal__content > form .flex_container > span {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}


/* Add Email and Password modal */
.modal__settings_add_password .modal__content {
  width: 768px;
}

.modal__settings_add_password .modal__content > form > p {
  font-size: 14px;
  margin-bottom: 3em;
}

.modal__settings_add_password .modal__content > form .flex_container {
  margin: 0 0 16px;
}

.modal__settings_add_password .modal__content > form .flex_container > span {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  padding: 0.5em;
}

.modal__settings_add_password .modal__content > form .flex_container > span > p {
  font-size: 14px;
}

.modal__settings_add_password .modal__content>form .flex_container>span>input {
  margin: 0;
}

.modal__settings_add_password .modal__content > form > h5 {
  margin: 0 0 16px;
}