/*
  Reset
  http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
  Custom Styles
*/

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #fafafa;
}

html,
body {
  font-family: "Roboto", san-serif;
  font-size: 16px;
  margin: 0;
  letter-spacing: 0.5;
  line-height: 1.2;
}

/* Type */

h1 {
  font-size: 96px;
  font-weight: light;
  letter-spacing: -1.5;
}

h2 {
  font-size: 60px;
  font-weight: light;
  letter-spacing: -0.5;
}

h3 {
  font-size: 48px;
  letter-spacing: 0;
}

h4 {
  font-size: 34px;
  letter-spacing: 0.25;
}

h5 {
  font-size: 24px;
  letter-spacing: 0;
}

h6 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.15;
  text-transform: uppercase;
}

button,
.type__button {
  font-size: 100%;
  font-weight: 600px;
  text-transform: uppercase;
  letter-spacing: 0.25;
}

caption {
  font-size: 12px;
  letter-spacing: 0.4;
}

.type__smaller {
  font-size: 14px;
  letter-spacing: 0.25;
}

.type__small {
  font-size: 12px;
  letter-spacing: 0.25;
}

.type__subtitle {
  font-size: 14px;
  font-weight: 600px;
}

.type__block {
  display: block;
}

.type__bold {
  font-weight: bold;
}

.type__margin_top {
  margin-top: 16px !important;
}

.type__light {
  font-weight: ;
}

.type__uppercase {
  text-transform: uppercase;
}

/* Custom Resets */

.reset__body_top_padding {
  margin-top: -125px;
}

ul {
  padding: 0;
  margin: 0;
}

ul>li {
  list-style-type: none;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

.app {
  width: 100%;
  height: 100%;
}

.app__main {
  width: 100%;
  min-height: 100%;
  transition: transform 250ms linear 200ms;
}

.app__main[data-hamburger="open"] {
  transform: translateX(-400px);
  overflow-x: hidden;
}

.app__main>.app__body {
  padding-top: 125px;
  position: relative;
  min-height: calc(100vh - 125px);
}

.app__main .inline_container > *{
  display: inline-block;
  vertical-align: middle;
}