.topic_section {
  padding: 4em 3em 6em;
  text-align: center;
}

.topic_section > h5 {
  font-size: 1.14em;
  text-transform: uppercase;
  color: rgba(51,51,51,0.5);
  margin-bottom: 4em;
}

.topic_section > p {
  max-width: 750px;
  font-family: "Muli", sans-serif;
  font-size: 2.14em;
  margin: 0 auto;
}