.profile__edit_button,
.profile__cancel_edit_button,
.profile__done_edit_button {
  color: #333;
  font-weight: 900;
  font-family: "Muli", "Nunito", "Roboto", sans-serif;
  cursor: pointer;
}
.profile__cancel_edit_button,
.profile__done_edit_button {
  margin-right: 1em;
}

.profile__container .profile__50 {
  width: 50%;
  padding: 1em 0.75em;
}

.profile__container .profile__100 {
  width: 100%;
}

.profile__container .profile__edit_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(51,51,51, 0.2);
}

.profile__container .profile__edit_header h2 {
  font-family: "Nunito", "Roboto", sans-serif;
  font-weight: 400;
}

/* Header */
.profile__container .profile__header {
  width: 100%;
  background-color: #FF6561;
  border-bottom: 4em solid #FF443F;
}

.profile__header .profile__header_body {
  padding: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Avatar */
.profile__header_body .image_uploader {
  width: 200px;
  height: 200px;
}

.profile__header_body .profile__avatar input[type="file"] {
  opacity: 0;
  max-width: 0;
  max-height: 0;
}

.profile__header_body .profile__avatar .button__avatar_upload {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  text-transform: lowercase;
  background-color: rgba(51,51,51, 0.85);
  cursor: pointer;
}

/* Header Personal Info */

.profile__header_body .profile__header_info {
  padding: 1em 2.85em;
  min-width: 300px;
}

.profile__header_body .profile__header_info .profile__name {
  color: white;
  font-family: "Nunito", "Roboto", sans-serif;
  font-size: 3em;
  font-weight: 200;
}

.profile__header_body .profile__header_info p {
  margin-top: 0;
  color: white;
  font-family: "Muli", "Nunito", "Roboto", sans-serif;
}

/* Body */
.profile__container .profile__body {
  padding: 3em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}