.edit_post {
  display: flex;
  max-width: 100%;
  min-height: calc(100vh - 58px);
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  background-color: white;
}

.edit_post[data-no-flow="active"] {
  overflow: hidden;
  max-height: calc(100vh - 58px);
}

.edit_post > .edit_post__nav {
  flex: 0 0 200px;
}

/* Main */
.edit_post__edit {
  flex: 0 1 1170px;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 2em;
  overflow: hidden;
}

.edit_post__edit .edit_post__post_title {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  display: block;
  text-align: center;
  font-family: "Muli", sans-serif;
  font-weight: 900;
  font-size: 4.25em;
  outline: none;
}

.edit_post__edit .edit_post__post_title:focus {
  border-bottom: 2px solid #FF6561;
}

.edit_post__edit .edit_post__author {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.edit_post .edit_post__hero_container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

.edit_post .edit_post__excerpt {
  width: 1170px;
  max-width: 100%;
  margin: 2em auto;
  padding: 0 2em;
}

.edit_post .edit_post__excerpt > h2,
.edit_post .edit_post__editor > h2 {
  font-weight: 800;
  font-family: "Muli", sans-serif;
  display: block;
  margin-bottom: 0;
}

.edit_post .edit_post__excerpt > span,
.edit_post .edit_post__editor > span {
  font-size: 0.85em;
  font-family: "Muli", sans-serif;
  font-style: italic;
  margin-bottom: 1em;
}

.edit_post .edit_post__excerpt > textarea {
  display: block;
  width: 100%;
  resize: vertical;
  outline: none;
  border: 2px solid rgba(51, 51, 51, 0.05);
  font-family: "Roboto", sans-serif;
  padding: 1em;
}

.edit_post__editor {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2em;
}