.post_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5em 2.25em;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
}

.post_card > a > img {
  display: inline-block;
  max-width: 250px;
  flex: 0 1 250px;
}

.post_card > .post_card__content {
  width: 600px;
  flex: 0 1 600px;
  padding: 1em;
}

.post_card > .post_card__content > h2 {
  margin-top: 0;
  font-family: "Muli", sans-serif;
}

.post_card > .post_card__content > .post_card__state {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #999;
  vertical-align: middle;
}

.post_card > .post_card__content > .post_card__state[data-state="published"] {
  background-color: olivedrab;
}

.post_card > .post_card__content > .post_card__state[data-state="archived"] {
  background-color: #FFCB61;
}

.post_card > .post_card__content > .post_card__date {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em; 
}