.applications__container {
  padding: 4em 3.5em;
}

.application__state_indicator {
  display: block;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
}

/* Header */
.applications__container header {
  position: relative;
  padding: 1em 0;
}

.applications__container header > h1 {
  font-family: "Muli", "Nunito", "Roboto", sans-serif;
  font-weight: lighter;
  margin: 0;
  color: rgb(58, 58, 58);
}

.applications__container header > .applications__stats {
  color: rgba(51,51,51,0.85);
  font-size: 0.85em;
  font-family: "Nunito", "Roboto", sans-serif;
}

