.home__container {
  background-color: #FFF;
}

.home__container .home__section {
  width: 100%;
  padding: 5em 3em;
}

.home__container .home__section > .home__section_inner {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

/* Stats Section */
.home__section.home__stats {
  background-color: #FF6561;
  padding: 5em 3em 285px;
}

.home__section.home__stats > .home__section_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

/* About Section */
.home__container .home__section.home__about {
  padding: 0;
  margin-top: -285px;
}

.home__section.home__about > .home__section_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home__section.home__about .home__about_scholars_button {
  position: relative;
  margin-top: 2em;
  font-size: 1em;
}

/* Featured Students Section */
.home__section.home__featured_students_title {
  background-color: #53D1D7;
  padding: 5em 3em 285px;
}

.home__section.home__featured_students_title h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 2.85em;
  letter-spacing: 0.25em;
}

.home__container .home__section.home__featured_students {
  padding: 0;
  margin-top: -285px;
}
.home__section.home__section.home__featured_students > .home__section_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Posts section */
.home__section.home__posts .home__section_inner>h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.85em;
  letter-spacing: 0.25em;
  width: 100%;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .no__posts {
  text-align: center;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .no__posts > svg {
  font-size: 2.5em;
  opacity: 0.25;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .no__posts > h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 2em;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > * {
  max-width: 500px;
  flex: 0 1 500px;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .home__most_recent_post,
.home__section.home__posts .home__section_inner > .home__most_recent_posts > .home__other_recent_posts {
  margin-bottom: 20px;
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .home__other_recent_posts .post_card__main:not(:last-child) {
  margin-bottom: 20px;  
}

.home__section.home__posts .home__section_inner > .home__most_recent_posts > .post_card__main:not(:last-child) {
  margin-bottom: 20px;
}

.home__section.home__posts .home__section_inner > .all_posts__link {
  display: block;
  width: 100%;
  color: #333;
  text-decoration: underline;
  font-family: "Muli", sans-serif;
  font-size: 1.25em; 
  font-weight: bold;
  text-align: center;
  margin: 2em auto 1em;
}