.application_portal {
  margin: 0;
  position: relative;
}

/* Header */
.application_portal header {
  border-bottom: 1px solid #c4c4c4;
  padding: 2em 2.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 96px;
}

.application_portal header > h1 {
  margin: 0;
  font-weight: 100;
}

.application_portal .application_portal__action_buttons > button:first-child {
  margin-right: 2em;
}

/* Body */
.application__portal_body {
  display: flex;
  width: 100%;
  height: calc(100vh - 96px);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.application__portal_body .application__portal_sidebar {
  min-width: 280px;
  height: 100%;
  padding: 3em 1.1625em 3em 2.2em;
  background-color: rgba(51,51,51,0.1);
}

.application__portal_sidebar .application__sidebar>li>a {
  display: block;
  padding: 1em 0 1em 1em;
  cursor: pointer;
  font-weight: 600;
  color: #333;
  position: relative;
}

.application__portal_sidebar .application__sidebar>li>a:before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(51,51,51,0.35);
}

.application__portal_sidebar .application__sidebar>li>a.active,
.application__portal_sidebar .application__sidebar>li>a.complete {
  color: #FF6561;
}

.application__portal_sidebar .application__sidebar>li>a.active:before,
.application__portal_sidebar .application__sidebar>li>a.complete::before,
.application__portal_sidebar .application__sidebar>li>a:hover:before {
  background-color: #FF6561;
}

.application__portal_body .application__portal_main {
  height: 100%;
  flex: 1 1 auto;
  padding: 2.1625em;
  overflow-y: auto;
}