.dashboard {
  width: 100%;
  min-height: 100vh;
}

.dashboard__main {
  width: 100%;
  min-height: 100vh;
  transition: padding 200ms linear;
  background-color: rgba(244, 247, 249, 1);
}

.dashboard__container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 4em 3.5em;
}

.dashboard__container.dashboard__container_full {
  max-width: 100%;
  padding: 0;
}

.dashboard__home .dashboard__under_construction {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .dashboard__main {
    padding-left: 220px;
  }
}