.modal__conversation_replies > .modal__content {
  width: 1170px;
  padding: 2em; 
}

.modal__conversation_replies > .modal__content > h2 {
  margin-bottom: 0;
}

.modal__conversation_replies > .modal__content > h5 {
  margin-top: 0;
  font-family: "Nunito", sans-serif;
}

/* Table */
.conversation_replies > table .dash_comments__user {
  display: block;
  font-weight: bold;
  color: #333;
}

.conversation_replies > table .dash_comments__likes {
  font-weight: bold;
  color: #FF6561;
}