.gallery > section {
  padding: 0 2em;
  text-align: center;
}

.gallery > section > img {
  max-width: 100%;
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .gallery > section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .gallery > section:first-of-type {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 2em;
  }
}