.home__container {
  background-color: #FFF;
}

.home__container .home__section {
  width: 100%;
  padding: 5em 3em;
}

.home__container .home__section>.home__section_inner {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

/* Stats Section */

.home__section.home__stats {
  background-color: #FF6561;
  padding: 5em 3em 285px;
}

.home__section.home__stats>.home__section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2em;
}

/* About Section */

.home__container .home__section.home__about {
  padding: 0;
  margin-top: -285px;
}

.home__section.home__about>.home__section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home__section.home__about .home__about_scholars_button {
  position: relative;
  margin-top: 2em;
  font-size: 1em;
}

/* Featured Students Section */

.home__section.home__featured_students_title {
  background-color: #53D1D7;
  padding: 5em 3em 285px;
}

.home__section.home__featured_students_title h3 {
  color: white;
  margin-bottom: 1em;
}

.home__container .home__section.home__featured_students {
  padding: 0;
  margin-top: -285px;
}

.home__section.home__section.home__featured_students>.home__section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Posts section */

.home__section.home__posts .home__section_inner>h3 {
  margin-bottom: 1em;
}

.home__section.home__posts .home__section_inner>.no__posts {
  text-align: center;
}

.home__section.home__posts .home__section_inner>.no__posts>img {
  width: 400px;
  max-width: 100%;
}

.home__section.home__posts .home__section_inner>.no__posts>h5 {
  font-size: 2em;
  font-family: "Nunito", sans-serif;
  margin-top: 0;
}

.home__section.home__posts .home__section_inner>.all_posts__link {
  display: block;
  width: 100%;
  color: #333;
  text-decoration: underline;
  font-family: "Muli", sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin: 2em auto 1em;
}