footer.footer {
  background-color: rgb(53, 53, 53);
  position: relative;
  z-index: 99;
}

footer.footer .footer__container {
  max-width: 1140px;
  margin: 0 auto;
}

footer.footer .footer__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em 3em;
}

/* Nav */
footer.footer .footer__main > .footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer.footer .footer__main > .footer__nav > img {
  max-width: 150px;
  margin-bottom: 1em;
}

footer.footer .footer__main > .footer__nav > li > a {
  color: rgba(255,255,255,0.65);
  padding: 0.5em 0.5em 0.75em 0;
  display: block;
  position: relative;
}

footer.footer .footer__main > .footer__nav > li > a.active,
footer.footer .footer__main > .footer__nav > li > a:hover {
  color: white;
}

footer.footer .footer__main > .footer__nav > li > a.active::after,
footer.footer .footer__main > .footer__nav > li > a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  height: 2px;
}

/* Recent stories */
footer.footer .footer__main > .footer__posts > h6 {
  color: white;
  margin-bottom: 2em;
}

footer.footer .footer__main > .footer__posts > .footer__post_item {
  display: block;
  color: white;
  opacity: 0.65;
  margin-bottom: 1em;
}

footer.footer .footer__main > .footer__posts > .footer__post_item.active {
  opacity: 1;
}

footer.footer .footer__main > .footer__posts > .footer__post_item:hover {
  opacity: 1;
}

/* Connect with us */
footer.footer .footer__main > .footer__contact > h6 {
  color: white;
  margin-bottom: 2em;
}

footer.footer .footer__main > .footer__contact > .footer__contact_socials {
  margin-bottom: 1em;
}

footer.footer .footer__main > .footer__contact > .footer__contact_socials > a {
  display: inline-block;
  color: rgba(255,255,255,0.6);
  font-size: 1.25em;
}

footer.footer .footer__main > .footer__contact > .footer__contact_socials > a:not(:last-child) {
  margin-right: 1em;
}

footer.footer .footer__main > .footer__contact > .footer__contact_socials > a:hover {
  color: rgba(255, 255, 255, 1);
}

footer.footer .footer__main > .footer__contact > a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

footer.footer .footer__main > .footer__contact > a:active,
footer.footer .footer__main > .footer__contact > a:hover {
  color: white;
}

/* Copyright */
footer.footer > .footer__copyright {
  width: 100%;
  text-align: center;
  background-color: rgb(30,30,30);
  color: rgba(255,255,255,0.5);
}

footer.footer > .footer__copyright > p {
  padding: 2em 3em;
}