.modal__feature_student {
  margin: 0 !important;
}

.modal__feature_student > .modal__content {
  width: 1140px;
}

.feature_student {
  width: 100%;
  background-color: white;
}

/* Sections */
.feature_student__section {
  width: 100%;
  padding: 2em 3.5em;
  margin: 0;
}

section.feature_student__section:not(:last-of-type) {
  border-bottom: solid 2px rgba(128, 150, 162, 0.1);
}

.feature_student__section > .section_heading {
  color: #FF6561;
  margin-top: 0;
  margin-bottom: 1em;
}

/* Form elements */
.feature_student .feature_student__section .form__input_container {
  margin-bottom: 1em;
}

.feature_student .feature_student__section label {
  display: block;
  color: rgba(128, 150, 162, 0.95);
  margin-bottom: 0.5em;
}

.feature_student .feature_student__section input:not([type="file"]),
.feature_student .feature_student__section select,
.feature_student .feature_student__section textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  border: 2px solid rgba(128, 150, 162, 0.35);
  padding: 1em;
  font-family: "Roboto", sans-serif;
}

.feature_student .feature_student__section select {
  cursor: pointer;
}