input.input {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  border: 2px solid rgba(128, 150, 162, 0.35);
  padding: 1em;
  font-family: "Roboto", sans-serif;
  margin: 0 0 1em;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

input.input:hover,
input.input:focus {
  border-color: rgba(128, 150, 162, 1);
}