.student_dashboard {
  width: 100%;
  padding-left: 220px;
}

.student_dashboard[data-menu-state="compact"] {
  padding-left: 64px;
}

.student_dashboard[data-menu-state~="closed"] {
  padding: 0;
}

.student_dashboard > main > header {
  width: 100%;
  height: 250px;
  background-color: #FF6561;
}