.student_dashboard {
  width: 100%;
  padding-left: 220px;
}

.student_dashboard[data-menu-state="compact"] {
  padding-left: 64px;
}

.student_dashboard[data-menu-state~="closed"] {
  padding: 0;
}

.student_dashboard > main > header {
  width: 100%;
  height: 250px;
  background-color: #FF6561;
}

.student_dashboard__container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}

/* Profile */
.student_dashboard__container.student_dashboard__profile  section:first-child {
  transform: translateY(-150px);
  text-align: center;
}

.student_dashboard__container.student_dashboard__profile .image_uploader {
  margin-bottom: 2em;
}