.dashboard__main {
  width: 100%;
  transition: padding 200ms linear;
}

.dashboard__container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .dashboard__main {
    padding-left: 220px;
  }
}