* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

html,
body {
  font-family: "Roboto", san-serif;
  font-size: 14px;
  background-color: #444;
  margin: 0;
}

.type__small {
  font-size: 0.765em;
}

.type__block {
  display: block;
}

.type__bold {
  font-weight: bold;
}

.type__margin_top {
  margin-top: 1em !important;
}

/* Resets */
.reset__body_top_padding {
  margin-top: -125px;
}
