.app__main > .app__body.app__body_about {
  padding-top: 0;
}

main#about_main {
  background-color: white;
}

section.about__wwd {
  background-color: #f8f8f8;
  padding: 90px 2em;
}

section.about__wwd .flex_container {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.about__wwd .flex_container .icon_bullet {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 600px) {
  section.about__wwd .flex_container .icon_bullet {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}