.form {
  background-color: white;
  margin: 0 0 1em;
  width: 600px;
  max-width: 100%;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title {
  padding: 0 0 0 3.5rem;
}

/* Signin Form */
.form.signin__form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 2em 1.5em;
  border-radius: 1em;
}

.form.signin__form .form__reset_password {
  color: #333;
  padding: 0 3.5rem 2rem 0;
  display: block;
  text-align: right;
  font: normal bold 1em "Nunito", "Roboto", san-serif;
}

.form.signin__form .form__input_container {
  display: block;
  margin: 1em 0;
  padding: 2rem 3.5rem;
  position: relative;
}

.form.signin__form .form__input_container.profile__input {
  padding: 0;
}

.form.signin__form .form__input_container>label {
  display: block;
  position: absolute;
  font-weight: 500;
  font-size: 1em;
  color: rgba(51, 51, 51, 0.5);
  transition: transform 100ms linear;
  transform: translate(1em, -1.5em);
  text-transform: uppercase;
}

.form.signin__form .form__input_container.profile__input>label {
  font-size: 0.85em;
  font-weight: bold;
  color: white;
  text-transform: lowercase;
  transform: translate(0, 0);
  position: relative;
}

.form.signin__form .form__input_container>input[type] {
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid rgba(51, 51, 51, 0.5);
  position: relative;
  z-index: 99;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 300;
}

.form.signin__form .form__input_container.profile__input>input[type] {
  font-size: 1em;
  padding: 1em 0 0.5em;
  border-width: 2px;
}

.form.signin__form .form__input_container>button[type] {
  background-color: #FF6561;
  outline: none;
  border: none;
  padding: 0.85em 2.25em;
  border-radius: 2em;
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.form.signin__form .form__input_container>input[type]:focus,
.form.signin__form .form__input_container>input[type]:valid {
  border-color: #FF6561;
}

.form.signin__form .form__input_container>input[type]:disabled {
  cursor: not-allowed;
}

.form.signin__form .form__input_container.profile__input>input[type]:focus,
.form.signin__form .form__input_container.profile__input>input[type]:valid {
  border-color: rgba(51, 51, 51, 0.5);
}

.form.signin__form .form__input_container.profile__input>input[type]:disabled {
  background-color: #FF443F;
}

.form.signin__form .form__input_container>input[type]:focus+label,
.form.signin__form .form__input_container>input[type]:valid+label {
  transform: translate(1em, -4.5em);
}

/* Application Task Forms */
.form.application_task__form {
  margin: 3em 0 2em;
}

.form.application_task__form .form__input_container {
  width: 100%;
  margin-bottom: 1.75em;
  padding-left: 0.5em;
}

.form.application_task__form .form__input_container:nth-child(2n) {
  border-left: 2px solid rgba(51,51,51,0.15);
}

.form.application_task__form .form__input_container > label {
  display: block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 0.95em 0;
  opacity: 0.75;
  font-family: "Muli",
  "Nunito",
  "Roboto",
  sans-serif;
}

.form.application_task__form .form__input_container>input[type],
.form.application_task__form .form__input_container>select {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #333;
  font-size: 1.02em;
  padding: 0.75em;
}

.form.application_task__form .form__input_container>input[type]:focus,
.form.application_task__form .form__input_container>select:focus {
  border-bottom-color: #FF6561;
}

.form.application_task__form .form__input_container>select {
  cursor: pointer;
}